.parent{
    position: relative;
    height: 400px;
    width: 400px;
    top: 100px;
    left: 100px;
    background-color: yellow;
}
.child{
    position:absolute;
    height: 100px;
    width: 100px;
    left: 50px;
    top: 0px;
    background-color: red;
}